
.padding-vertical-xxlarge {
  padding-top: 160px;
  padding-bottom: 160px;
}

.timeline-hero_heading-wrapper {
  position: relative;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.background-layer {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  background-color: #d8d5d1;
  background-image: url("../60dd72519d9f9f577a0ae42e_Grain%20Background.png"), url("https://assets.website-files.com/60dd72519d9f9f67690ae425/60de510d7335a4d912f1bb9b_Gaussian Blur - Brighter.svg");
  background-position: 0px 0px, 50% 80%;
  background-size: 300px 300px, cover;
  background-repeat: repeat, no-repeat;
}

.text-underline {
  display: inline-block;
  margin-top: -8px;
  margin-bottom: -8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-image: url("https://assets.website-files.com/60dd72519d9f9f67690ae425/60dd72519d9f9f48160ae42f_Underline.svg");
  background-position: 50% 110%;
  background-size: contain;
  background-repeat: no-repeat;
}

.margin-bottom-medium {
  margin-bottom: 32px;
}

.paragraph-large {
  font-size: 20px;
  letter-spacing: -0.02em;
}

.section-timeline-heading {
  background-color: #0a0a0a;
}

.padding-vertical-xlarge {
  padding-top: 120px;
  padding-bottom: 120px;
}

.timeline-main_heading-wrapper {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
}

.timeline_component {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.timeline_item {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  padding-top: 80px;
  padding-bottom: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 180px 1fr;
  grid-template-columns: 1fr 180px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.timeline_left {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: right;
}

.timeline_centre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.timeline_date-text {
  position: -webkit-sticky;
  position: sticky;
  top: 47vh;
  color: #000;
  font-size: 60px;
    line-height: 1.2;
    font-weight: 600;
  letter-spacing: -0.03em;
}

.timeline_text {
  color: #000;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.timeline_circle {
  position: -webkit-sticky;
  position: sticky;
  top: 50vh;
  width: 15px;
  height: 15px;
  max-height: 15px;
  max-width: 15px;
  min-height: 15px;
  min-width: 15px;
  border-radius: 100%;
  background-color: #065e2e;
  box-shadow: 0 0 0 8px #eff3f1;
}

.timeline_progress {
  position: absolute;
  z-index: 0;
  width: 3px;
  height: 100%;
  background-color: #414141;
}

.timeline_progress-bar {
  position: sticky;
  left: auto;
  top: 0px;
  right: auto;
  bottom: 50vh;
  z-index: -1;
  width: 3px;
  height: 50vh;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54a276), color-stop(51%, #62cc91), to(#ca9328));
  background-image: linear-gradient(180deg, #54a276, #62cc91 51%, #ca9328);
}

.section-timeline {
  position: relative;
  z-index: -3;
  background-color: #fff;
}

.section-timeline-cta {
  background-color: #0a0a0a;
}

.margin-bottom-xlarge {
  margin-bottom: 56px;
}

.timeline_image-wrapper {
  overflow: hidden;
  border-radius: 12px;
  background-image: linear-gradient(138deg, #000, transparent 28%);
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.timeline_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0.6;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #000;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.timeline_link:hover {
  opacity: 1;
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.inline-block {
  display: inline-block;
}

.text-colour-lightgrey {
  color: hsl(0deg 0% 0% / 65%);
}

.timeline_quote-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 16px;
}

.timeline_quote-image {
  width: 48px;
  height: 48px;
  margin-right: 24px;
  border-radius: 8px;
}

.timeline_quote-text-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.timeline_quote {
  margin-bottom: 16px;
  color: #000;
  font-size: 14px;
}

.timeline_quote-title {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.timeline_badge {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 6px 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #000;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.timeline_definition-wrapper {
  padding: 16px;
  border-radius: 16px;
  background-color: hsla(0, 0%, 100%, 0.05);
}

.text-colour-white {
  color: #000;
}

.timeline_milestone-badge {
  display: inline-block;
  margin-bottom: 24px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #000;
  color: #161616;
  font-size: 14px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.button-inverted {
  padding: 14px 32px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 8px;
  background-color: #000;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #161616;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.button-inverted:hover {
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.overlay-fade-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a0a0a), to(rgba(10, 10, 10, 0)));
  background-image: linear-gradient(180deg, #0a0a0a, rgba(10, 10, 10, 0));
}

.overlay-fade-bottom {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 80px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0a0a0a), to(rgba(10, 10, 10, 0)));
  background-image: linear-gradient(0deg, #0a0a0a, rgba(10, 10, 10, 0));
}

.margin-bottom-small {
  margin-bottom: 24px;
}

.button-icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.button-icon-small {
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px 12px 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #0a0a0a;
  border-radius: 8px;
  background-color: #0a0a0a;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-icon-small:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.button-icon-small.margin-right-small {
  margin-right: 16px;
}

.margin-bottom-large {
  margin-bottom: 40px;
}

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-icon-small-secondary {
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 20px 12px 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #0a0a0a;
  border-radius: 8px;
  background-color: #fff;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #161616;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-icon-small-secondary:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.button-icon-small-secondary.margin-right-small {
  margin-right: 16px;
}

.section-footer {
  position: relative;
}

.footer_text-wrapper {
  position: relative;
  max-width: 640px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;
  text-align: center;
}

.footer_credits-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-link {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
}

.padding-vertical-footer {
  padding-top: 120px;
  padding-bottom: 40px;
}

.hero-nav {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.relume-link {
  position: relative;
  width: 124px;
  height: 33.33px;
}

.relume-logo-primary {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  color: #000;
}

.relume-logo-secondary {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  color: #fff;
}

.hero-nav_button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.timeline_image-wrapper img {
    width: 100%;
}

@media screen and (max-width: 991px) {

  .button-icon-small {
    position: static;
    top: 16px;
  }

  .button-icon-small-secondary {
    position: static;
    top: 16px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 24px;
  }

  .padding-vertical-xxlarge {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .background-layer {
    background-position: 0px 0px, 50% 100%;
    background-size: 300px 300px, auto;
  }

  .paragraph-large {
    font-size: 18px;
  }

  .padding-vertical-xlarge {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .timeline_item {
    width: 100%;
    -ms-grid-columns: 64px 1fr;
    grid-template-columns: 64px 1fr;
  }

  .timeline_left {
    text-align: left;
  }

  .timeline_centre {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline_text {
    font-size: 16px;
  }

  .timeline_progress {
    left: 6px;
  }

  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }

  .timeline_quote-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .timeline_quote-image {
    margin-top: 24px;
    margin-right: 0px;
  }

  .button-inverted {
    padding: 14px 24px;
  }

  .margin-bottom-small {
    margin-bottom: 24px;
  }

  .button-icon-small {
    padding: 10px 16px 10px 14px;
  }

  .button-icon-small.hide-mobile {
    display: none;
  }

  .button-icon-small-secondary {
    padding: 10px 16px 10px 14px;
  }

  .button-icon-small-secondary.margin-right-small.mobile-margin-right-zero {
    margin-right: 0px;
  }

  .footer_credits-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .text-link.text-light-grey.privacy-policy {
    margin-bottom: 16px;
  }

  .padding-vertical-footer {
    padding-top: 80px;
    padding-bottom: 64px;
  }

  .hero-nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 36px;
  }

  h4 {
    font-size: 22px;
  }

  .margin-bottom-medium {
    margin-bottom: 24px;
  }

  .paragraph-large {
    font-size: 16px;
  }

  .timeline_item {
    -ms-grid-columns: 48px 1fr;
    grid-template-columns: 48px 1fr;
  }

  .button-icon {
    display: none;
  }

  .button-icon-small {
    top: 18px;
    padding: 10px 14px;
    font-size: 13px;
  }

  .button-icon-small-secondary {
    top: 18px;
    padding: 10px 14px;
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  #timeline_progress1_year {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #timeline_progress1_circle{
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #timeline_progress1_content  {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
  }

  #w-node-_0488106f-ce92-9b7b-01c3-8ad75f3f5e36-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_0488106f-ce92-9b7b-01c3-8ad75f3f5e39-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_5b7ae63b-6f00-e542-a023-96ea5c4a96e4-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_5b7ae63b-6f00-e542-a023-96ea5c4a96e7-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-e0f4f25e-22f1-da39-65d5-a453ca30c732-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-e0f4f25e-22f1-da39-65d5-a453ca30c735-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ca21cc2f-00d7-84a3-f446-587e32a59c01-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-ca21cc2f-00d7-84a3-f446-587e32a59c04-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_37ab9472-ef92-a1c7-f6c5-ffbef2542159-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_37ab9472-ef92-a1c7-f6c5-ffbef254215c-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_3f36ed1c-86ad-66f2-a7e0-a2e345d5b492-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_3f36ed1c-86ad-66f2-a7e0-a2e345d5b495-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_24c49997-4a3d-4bd7-0915-1f0630d904af-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-_24c49997-4a3d-4bd7-0915-1f0630d904b2-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-cea39288-a86d-bc98-0716-192fe18bb832-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-cea39288-a86d-bc98-0716-192fe18bb835-8b0ae424 {
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}
